.title {
  text-align: center;
}

.main-container {
  margin: auto;

  &__chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  &__buildings {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
